In [1]:
s = 'hello world'
print(len(s))
# white space included in length

11

In [3]:
s = 'hello world'
print(s[3]) # s sub 3

l

In [5]:
s = 'hello world'
print(s[1:7]) # starting from index 1 up to 7, but not including 7

ello w

In [6]:
s = 'hello world'
print(s[:7]) # defaults to 0 as starting

hello w

In [7]:
s = 'hello world'
print(s[:]) # copies a string

hello world

In [8]:
s = 'hello world'
s2 = '!!'
print(s + s2) # concatenates strings

hello world!!

In [9]:
s = 'hello world'
s2 = '!!'
print('hello' in s)

True

In [10]:
s = 'hello world'
s2 = '!!'
print('goodbye' in s)

False

In [11]:
s = 'hello world'
s2 = '!!'
print('h' in s)

True

In [12]:
s = 'hello world'
s2 = '!!'
print('z' in s) # single character string is still considered a string

False

In [13]:
s1 = 'hello world'
s2 = '!!'
print(s1.upper())

HELLO WORLD

In [16]:
s1 = 'HELLO world'
s2 = '!!'
print(s1.lower())

hello world

In [18]:
s1 = '0'
s2 = '!!'
print(s1.isdigit())

True

In [19]:
# strings are immutable
"""
[hello world] <- s1
[!!] <- s2
[HELLO WORLD]
"""

s1 = 'hello world'
s2 = '!!'
print(s1.upper()) # doesn't get stored in memory, gets handed to the print function

HELLO WORLD

In [ ]:
# strings are immutable
"""
[hello world]
[!!] <- s2
[HELLO WORLD] <- s1
"""

s1 = 'hello world'
s2 = '!!'
s1 = s1.upper() # points to new spot in memory
print(s1)
# python has built in method called garbage collection - finds memory not being used and deletes it (if not it would create a memory leak)

In [22]:
x = 1
msg = 'x is equal to ' + str(x)
print(msg)

x is equal to 1

In [23]:
x = 1
msg = f'x is equal to {x}' # python reduces it to a value and performs type conversion
print(msg)

x is equal to 1

In [24]:
x = 1
msg = f'x is equal to {x*10}' # python reduces it to a value and performs type conversion
print(msg)

x is equal to 10

In [26]:
# for loop basics
for i in range(0, 10): # range function - up to but not including 10. i is just a variable, can be named anything
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(10): # can leave out starting number. Defaults to 0
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
s = 'hello world!'

for idx in range(len(s)):
  print(s[idx])

h
e
l
l
o

w
o
r
l
d
!

In [31]:
# iterable is any collection of data you can iterate over one step at a time
for char in s: # for loops know how to iterate over iterable
  print(char)

h
e
l
l
o

w
o
r
l
d
!

for loops are good for when the number of iterations is known
can generate indexes with range()
can loop through an iterable directly

In [32]:
# sets and lists are iterables because you know how many times you need to iterate

for x in range(5):
  print('hello')

hello
hello
hello
hello
hello

In [33]:
# string basics
def my_function():
  s = "Hello!"

  l = len(s)

  print(l)

my_function()

6

In [34]:
# string basics
def my_function():
  # 012345
  s = "Hello!"

  c = s[4]
  print(c)

my_function()

o

In [35]:
# string basics
def my_function():
  # 012345
  s = "Hello!"

  c = s[7] # index error
  print(c)

my_function()

IndexError: string index out of range

In [41]:
# string basics
def my_function():
  # 012345
  s = "Hello, world!"

  c = s[len(s) - 1] # last character
  print(c)

my_function()

!

In [43]:
# string basics
def my_function():
  # 012345
  s = "Hello, world"

  c = s[-1] # last character
  print(c)

my_function()

d

In [44]:
# string case and concatenation
# string basics
def my_function():
  s = "Hello, world!"
  t = s.upper()
  print(t)

my_function()

HELLO, WORLD!

In [45]:
# string case and concatenation
# string basics
def my_function():
  s = "Hello, world!"
  t = s.lower()
  print(t)

my_function()

hello, world!

In [50]:
# string case and concatenation
# string basics
def my_function():
  s = "Python"

  if s.isupper():
    print("it's all uppercase!")
  elif s.islower():
    print("it's all lowercase")
  else:
    print("it's mixed case")

my_function()

it's mixed case

In [51]:
# string case and concatenation
# string basics
def my_function():
  s = "PYTHON"

  if s.isupper():
    print("it's all uppercase!")
  elif s.islower():
    print("it's all lowercase")
  else:
    print("it's mixed case")

my_function()

it's all uppercase!

In [53]:
# string case and concatenation
# string basics
def my_function():
  s = "python!" # ignores punctuation

  if s.isupper():
    print("it's all uppercase!")
  elif s.islower():
    print("it's all lowercase")
  else:
    print("it's mixed case")

my_function()

it's all lowercase

In [54]:
# string case and concatenation
# string basics
def my_function():
  s = "Hello, "
  t = "world!"

  x = s + t

  print(x)

my_function()

Hello, world!

In [55]:
# string case and concatenation
# string basics
def my_function():
  s = "Hello, "
  t = 3490

  x = s + str(t)

  print(x)

my_function()

Hello, 3490

In [56]:
# string case and concatenation
# string basics
def my_function():
  r = ""

  r = r + "a"
  r = r + "b"
  r = r + "c"

  print(r)

my_function()

abc

In [57]:
# string case and concatenation
# string basics
def my_function():
  r = ""

  r += "a" # shorthand
  r += "b"
  r += "c"

  print(r)

my_function()

abc

In [58]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function():
  s = "x is 10 and y is 20"

  print(s)

my_function()

x is 10 and y is 20

In [59]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function():
  s = "x is " + str(x) + " and y is " + str(20)

  print(s)

my_function()

x is 4 and y is 20

In [60]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function(x, y):

  s = f"x is {x} and y is {y}"

  print(s)

my_function(10, 25)

x is 10 and y is 25

In [62]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function(a, b):

  for i in range(a, b, 2):
    print(i)

  print("Done!")

my_function(10, 25)

10
12
14
16
18
20
22
24
Done!

In [63]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function(a, b):

  for i in range(a, b + 1): # inclusive
    print(i)

  print("Done!")

my_function(10, 25)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
Done!

In [64]:
# formatting strings (f-strings)
# string case and concatenation
# string basics
def my_function(a, b):

  for i in range(a, b, -1): # count down from 5 to 0 not including 0
    print(i)

  print("Done!")

my_function(5, 0)

5
4
3
2
1
Done!

In [65]:
def my_function(s):
  print(s)

my_function("Python!")

Python!

In [69]:
def my_function(s):
  for i in range(len(s) - 1, -1, -1):
    print(s[i])

my_function("Python!")

!
n
o
h
t
y
P

In [70]:
def my_function(s):
  for i in range(len(s)):
    print(s[i])

my_function("Python!")

P
y
t
h
o
n
!

In [74]:
# lists data structure
# while-loops
l = [] # creates an empty list
z = [1, 2, 3, 4, 5, 6.5, 'abc', True] # can have anything in a list

value = z[0]
value2 = z[1]
print(value, value2)

1 2

In [75]:
# lists data structure
# while-loops
l = [] # creates an empty list
z = [1, 2, 3, 4, 5, 6.5, 'abc', True] # can have anything in a list

value = z[1:6]
print(value)

[2, 3, 4, 5, 6.5]

In [76]:
# lists data structure
# while-loops
l = [] # creates an empty list
z = [1, 2, 3, 4, 5, 6.5, 'abc', True] # can have anything in a list

value = z[:]
print(value)

[1, 2, 3, 4, 5, 6.5, 'abc', True]

In [77]:
# lists data structure
# while-loops
l = [] # creates an empty list
z = [1, 2, 3, 4, 5, 6.5, 'abc', True] # can have anything in a list

z.append(0) # add 0 to end of the list
print(z)

[1, 2, 3, 4, 5, 6.5, 'abc', True, 0]

In [78]:
z.pop(0) # drops from the index
print(z)

[2, 3, 4, 5, 6.5, 'abc', True, 0]

In [79]:
z.pop() # removes the last index
print(z)

[2, 3, 4, 5, 6.5, 'abc', True]

In [80]:
z.insert(0, 99) # index to insert at, value to insert
print(z)

[99, 2, 3, 4, 5, 6.5, 'abc', True]

In [84]:
condition = 7 in z
print(condition)

False

In [86]:
print(z)
condition = 1 in z
print(condition)

[99, 2, 3, 4, 5, 6.5, 'abc', True]
True

In [89]:
h = [4, 6, 2, 5, 8, 7]
h.sort() # lists change in place
print(h)

[2, 4, 5, 6, 7, 8]

In [91]:
h.sort(reverse=True) # sort doesn't return anything (None), sorts in place
print(h)

[8, 7, 6, 5, 4, 2]

In [92]:
# basic types are immutable
# lists, dictionaires, generic objects or classes ARE mutable
"""
[4, 6, 2, 5, 8, 7] <- h
[]
[]
"""
h = [4, 6, 2, 5, 8, 7]
h.sort()
print(h)

[2, 4, 5, 6, 7, 8]

In [98]:
# don't delete from a list while iterating
b = [4, 3, 2, 1, 9]

for value in b:
  print(value)

4
3
2
1
9

In [99]:
for i in range(len(b)): # indexes move when popping data
  if b[i] % 2 == 0:
    b.pop(i)

print(b)

IndexError: list index out of range

In [100]:
l = [4, 5, 2]
new_list = [] # create a copy of a list (don't want to delete data from old list)

for i in range(len(l)):
  if l[i] % 2 == 1:
    new_list.append(l[i])

print(new_list)
print(l)

[5]
[4, 5, 2]

In [101]:
l = [4, 5, 2]
new_list = [] # create a copy of a list (don't want to delete data from old list)

for i in range(len(l)):
  if l[i] % 2 == 1:
    new_list.append(l[i])

l = new_list
print(l)

[5]

In [102]:
# while loops
# loops until a condition is met

x = 10

while x > 0:
  print(x)
  x -= 1

print('exited loop')

10
9
8
7
6
5
4
3
2
1
exited loop

In [104]:
import random
x = random.randint(1, 10)
print(x)

8

In [106]:
def cs_array_get_length(a):
  x = len(a)
  return x

cs_array_get_length([1, 2, 3, 4])

4

In [113]:
def cs_array_get_element(a, index):
  if index >= len(a) or index < -len(a):
    return -999
  x = a[index]
  return x

cs_array_get_element([1, 2, 3, 4], -5)

-999

In [115]:
a = [0, 11, 22, 33]

a.append(999)

print(f"a is {a}")

a is [0, 11, 22, 33, 999]

In [117]:
a = [0, 11, 22, 33]

a.insert(0, 998)

print(f"a is {a}")

a is [998, 0, 11, 22, 33]

In [118]:
a = [0, 11, 22, 33]

a.pop(0)

print(f"a is {a}")

a is [11, 22, 33]

In [119]:
a = [0, 11, 22, 33]

r = a.pop(0)

print(f"a is {a}")
print(f"r is {r}")

a is [11, 22, 33]
r is 0

In [120]:
a = [0, 11, 22, 33]

r = a.pop(1)

print(f"a is {a}")
print(f"r is {r}")

a is [0, 22, 33]
r is 11

In [121]:
a = [0, 11, 22, 33]

a.insert(2, 999) # insert before index 2

print(f"a is {a}")
# print(f"r is {r}")

a is [0, 11, 999, 22, 33]

In [123]:
def cs_list_push(a, front, back):
  a.insert(0, front)
  a.append(back)
  return a

cs_list_push([1, 2, 3, 4], 5, 6)

[5, 1, 2, 3, 4, 6]

In [124]:
def cs_list_delete(a, index):
  a.pop(index)
  return a

cs_list_delete([1, 2, 3, 4], 2)

[1, 2, 4]

In [126]:
# list filtering
def list_filter(a, value):
  new_list = [item for item in a if item != value]
  return new_list

list_filter([1,2,'a','b'], 'a')

[1, 2, 'b']

In [127]:
# list filtering
def list_filter(a, value):
  for i in range(len(a)):
    if a[i] == value:
      a.pop(i) # list index out of range

  return a

list_filter([1,2,'a','b'], 'a')

IndexError: list index out of range

In [128]:
# list filtering
def list_filter(a, value):
  new_list = []
  for i in range(len(a)):
    if a[i] != value:
      new_list.append(a[i]) # list index out of range

  return new_list

list_filter([1,2,'a','b'], 'a')

[1, 2, 'b']

In [129]:
# list filtering
def list_filter(a, value):
  for i in range(len(a) - 1, -1, -1):
    if a[i] == value:
      a.pop(i) # remove element at index i

  return a

list_filter([1,2,'a','b'], 'a')

[1, 2, 'b']